/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/bootstrap/cache/*.php
/storage/*.key
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*.php
/storage/logs/*.log
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Thumbs.db
.DS_Store
